<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{52,70}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,9},{52,70}}</string>
			<key>sourceSize</key>
			<string>{56,80}</string>
		</dict>
		<key>2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,74},{52,70}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,9},{52,70}}</string>
			<key>sourceSize</key>
			<string>{56,80}</string>
		</dict>
		<key>3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{52,70}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,9},{52,70}}</string>
			<key>sourceSize</key>
			<string>{56,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>-ipadhdPigAnimRun.png</string>
		<key>size</key>
		<string>{56,218}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f311fc0c6942d0b7e963158958e70160:32793533ef8f8b7698f9b2406fbc5a8e:73bae6e14522d38cdd6243fa102797c0$</string>
		<key>textureFileName</key>
		<string>-ipadhdPigAnimRun.png</string>
	</dict>
</dict>
</plist>
