<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{14,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{14,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PigAnimRun.png</string>
            <key>size</key>
            <string>{50,22}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f90757b7a3d51686833113c60c32b015:32793533ef8f8b7698f9b2406fbc5a8e:73bae6e14522d38cdd6243fa102797c0$</string>
            <key>textureFileName</key>
            <string>PigAnimRun.png</string>
        </dict>
    </dict>
</plist>
